<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

    <title>{% block title %}{% endblock %} - Instapute</title>
    {% endblock %}
</head>
<body>
    <div class="content">{% block content %}{% endblock %}</div>
<!--     
    <div class="footer">
        Made by <a href="//harrymt.com">harrymt.com</a>
    </div>
-->

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>